* {
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

nav {
  height: auto;
  display: flex;
  padding: 10px 25px;
  align-items: center;
  background-color: cyan;
}

.navbar-img {
  width: 80px;
  margin-right: 25px;
}

.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding: 10px 20px;
  align-items: center;
  background-color: cyan;
}

.searchbar {
  width: 100%;
}

.searchbar input {
  width: 99%;
  padding: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 1px solid black;
}

.searchbar-btn button {
  width: 100%;
  background-color: #0E6F9F;
  border: none;
  border-radius: 10px;
  height: 27px;
  color: white;
  padding: 5px 15px;
}

.pokedex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0;
  max-width: 90%;
  margin: 0 auto;
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.08);
  border: 2px solid black;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
}

.pokemon-card:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(.98);
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pokemon-image-container {
  padding: 0px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.normal, .fighting, .flying, .poison, .ground, .rock, .bug, .ghost, .steel, .fire, .water, .grass, .electric, .psychic, .ice, .dragon, .dark, .fairy {
  text-transform: capitalize;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #FEFEFE;
  padding: 3px 10px;
  margin: 0 2px;
}

.normal {
  background-color: #A8A77A;
}

.fighting {
  background-color: #C22E28;
}

.flying {
  background-color: #A98FF3;
}

.poison {
  background-color: #A33EA1;
}

.ground {
  background-color: #E2BF65;
}

.rock {
  background-color: #B6A136;
}

.bug {
  background-color: #A6B91A;
}

.ghost {
  background-color: #735797;
}

.steel {
  background-color: #B7B7CE;
}

.fire{
  background-color: #EE8130;
}

.water {
  background-color: #6390F0;
}

.grass {
  background-color: #7AC74C;
}

.electric {
  background-color: #F7D02C;
}

.psychic {
  background-color: #F95587;
}

.ice {
  background-color: #96D9D6;
}

.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #705746;
}

.fairy {
  background-color: #D685AD;
} 

.pagination-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.pagination-container button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.pokemon-heart-btn {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
}

.not-found-text {
  text-align: center;
  margin: 20px auto;
  font-size: 1.25rem;
  padding: 20px;
}

.not-found-text img {
  margin-top: 25px;
}

.pokedex-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0;
  max-width: 90%;
  margin: 0 auto;
}