* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

nav {
  height: auto;
  padding: 10px 25px;
  align-items: center;
}

.navbar-img {
  width: 100px;
  margin-bottom: 5px;
}

.searchbar-container {
  display: flex;
  padding: 10px 20px;
  align-items: center;
}

.searchbar input {
  padding: 5px;
  margin-right: 10px;
  background-color: #333333;
  color: white;
}

.searchbar-btn button {
  width: 100%;
  background-color: orangered;
  border: none;
  border-radius: 10px;
  height: 29px;
  width: 79px;
  color: white;
  padding: 5px 15px;
}

.pokedex-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 25px;
  padding: 10px 0;
  justify-content: center;
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 3px solid transparent;
  transition: all 0.15s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.05);
  border: 3px solid transparent;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
}

.pokemon-card:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(0.99);
}

.pokemon-heart-btn {
  margin-left: 10px;
}

.pokemon-image {
  object-fit: contain;
}

.pokemon-image-container {
  padding: 0px 25px;
  width: 120px;
  display: flex;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top, .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-top h3 {
  text-transform: capitalize;
}

.pokemon-type {
  display: flex;
}

.normal, .fighting, .flying, .poison, .ground, .rock, .bug, .ghost, .steel, .fire, .water, .grass, .electric, .psychic, .ice, .dragon, .dark, .fairy {
  text-transform: capitalize;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 450;
  color: #FEFEFE;
  padding: 3px 15px;
  margin: 12px 2px;
}

.normal {
  background-color: #A8A77A;
}

.fighting {
  background-color: #C22E28;
}

.flying {
  background-color: #A98FF3;
}

.poison {
  background-color: #A33EA1;
}

.ground {
  background-color: #E2BF65;
}

.rock {
  background-color: #B6A136;
}

.bug {
  background-color: #A6B91A;
}

.ghost {
  background-color: #735797;
}

.steel {
  background-color: #B7B7CE;
}

.fire{
  background-color: #EE8130;
}

.water {
  background-color: #6390F0;
}

.grass {
  background-color: #7AC74C;
}

.electric {
  background-color: #F7D02C;
}

.psychic {
  background-color: #F95587;
}

.ice {
  background-color: #96D9D6;
}

.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #705746;
}

.fairy {
  background-color: #D685AD;
} 

.pagination-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.pagination-container button {
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.pokemon-heart-btn {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
}

.not-found-text {
  text-align: center;
  margin: 20px auto;
  font-size: 1.25rem;
  padding: 20px;
}

.not-found-text img {
  margin-top: 25px;
}


@media screen and (min-width: 1331px) {
  .pokedex-grid {
    grid-template-columns: fit-content(20%) fit-content(20%) fit-content(20%);
  }

  .card-top h3 {
    font-size: 22px;
  }

  .pokemon-card, .pokemon-heart-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 866px) and (max-width: 1330px) {

  .card-top h3 {
    font-size: 22px;
  }

  .pokemon-card, .pokemon-heart-btn {
    font-size: 20px;
  }

  .pokedex-grid {
    grid-template-columns: fit-content(20%) fit-content(20%);
  }
}

@media screen and (min-width: 720px) and (max-width: 865px) {
  .pokedex-grid {
    grid-template-columns: fit-content(20%) fit-content(20%);
  }

  .pokemon-image {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 300px) and (max-width: 719px) {
  .pokedex-grid {
    grid-template-columns: fit-content(20%);
  }

  .card-top h3 {
    font-size: 20px;
  }

  .pokemon-card, .pokemon-heart-btn {
    font-size: 16px;
  }

  .nav-container {
    justify-content: space-around;
  }

  .navbar-img {
    height: auto;
  }

  .searchbar input {
    width: 150px;
  }

  .searchbar-btn {
    width: 50px;
  }
}